body {
  background-color: #222831;
  font-family: 'Roboto', sans-serif;
}
h1 {
  flex: 1;
  text-align: center;
}
div {
  color: #EEEEEE;
  text-align: center;
  font-size: 24px;
}
button {
  background-color: #00ADB5;
  margin: 16px;
  flex: none;
  border: none;
  padding: none;
  border: 6px solid #393E46;
  border-radius: 8px;
  width: 128px;
  height: 128px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:active {
  transform: scale(0.95);
}
img {
  width: 105px;
  height: 105px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
img:hover {
  transform: scale(1.05);
}
img:active {
  transform: scale(0.95);
}

/* flexbox styling */
.title {
  display: flex;
}
.scoreContainer {
  display: flex;
  flex-direction: row;
}
.score {
  flex: 1;
}
.imgContainer {
  display: flex;
}
.buttonsContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}
.computerSelectionContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}
.computerImg {
  flex: 1;
  padding: 8px;
  margin: 16px;
  border: 6px solid #393E46;
  border-radius: 8px;
  opacity: 0;
  animation: fadeIn 0.2s ease-in forwards;
}
.result {
  font-size: 24px;
  animation: fadeIn 0.4s ease-in forwards;
}

@keyframes fadeIn {
  from {  /* Начальное состояние (0% анимации) */
    opacity: 0;
    transform: scale(0.8);
  }
  to {    /* Конечное состояние (100% анимации) */
    opacity: 1;
    transform: scale(1);
  }
}